/* Le root permet de définir des variables utilisables dans tout le css qui seront faciles à changer commce ceci par exemple : --couleur-texte: #022d46;  */
:root {
    --titre1: 50px;
    --titre2: 20px;
    --titre3: 30px;
    --texte: 15px;
    --texte2:18px;
    --couleur-texte1: #FFC300;
    --couleur-texte2: white;
    --couleur-titre: #F5C028;
    --couleur-nav: #065BA1;
} 
.deco1 {
    clip-path: polygon(100% 76%, 100% 100%, 0 100%);
    background-color : #B9CDFC;
    position:fixed;
    top:auto;
    width: 100%; 
    height:100%; 
    z-index: -1;
}
.deco2 {
    clip-path: polygon(100% 0, 0 35%, 0 0);
    background-color :#B6DAF8;
    position:fixed;
    top:0%;
    width: 100%; 
    height:100%; 
    z-index: -1;
}
.deco3 {
    clip-path: inset(48% 0 0 0);
    background-color : #B9CDFC;
    position:fixed;
    top:auto;
    width: 100%; 
    height:100%; 
    z-index: -1;
}
.deco4 {
    clip-path: polygon(0 100%, 35% 0 ,0 0 );
    background-color : #B9CDFC;
    position:fixed;
    top:auto;
    width: 100%; 
    height:100%; 
    z-index: -1;
}
.deco5 {
    clip-path: inset(75% 0 0 0);
    background-color : var(--couleur-texte1);
    position:fixed;
    top:auto;
    width: 100%; 
    height:100%; 
    z-index: -2;
}
body {
    box-sizing: border-box;
    max-height: 100%;
    max-width: 100%;
    background-color:#065BA1;
    font-size: var(--texte);
    color: var(--couleur-texte);
    font-family: 'Titillium Web', sans-serif;
}
.trollmode  {
    box-sizing: border-box;
    max-height: 100%;
    max-width: 100%;
    background-color:fuchsia;
    font-size: var(--texte);
    color: white;
    font-family: 'Titillium Web', sans-serif;
}
/* Jeu enfant tableaux et formes */
.espacejeu {
    display:flex;
    justify-content: center;
}

.jeu {
    display:inline-block;
    margin:4px;
    font-size: var(--texte);
    text-align: center;
    background-color: #161D8A;    
    height: 500px; 
	width: 600px; 
    z-index: 0;
}

.espacejeu {
    display:flex;
    align-content: center;
    justify-content: center;
    height: 500px; 
	width: 600px; 

}
.tableau {
    display:inline-block;
    margin:4px;
    font-size: var(--texte);
    text-align: center;
    background-color:white;
    border:none;
    height: 500px; 
	width: 600px; 
    z-index: 0;
}
/* Positionner les formes colorées avec flexbox */

.forme1 {

    clip-path: polygon(7% 2%, 5% 82%, 73% 64%);
    background-color: rgb(148, 24, 24);
    z-index: 1;
    height:120px;
    width:120px; 
}
.forme2 {

    clip-path: polygon(50% 0%, 85% 47%, 53% 90%, 12% 44%);
    background-color: rgb(75, 216, 10);
    z-index: 1;
    height:100px;
    width:100px;
}
.forme3 {

    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    background-color: rgb(113, 11, 196);
    display:flex;
    z-index: 1;
    height:100px;
    width:100px;
}
.forme4 {

    clip-path: polygon(25% 33%, 69% 34%, 80% 63%, 7% 85%);
    background-color: rgb(216, 10, 72);
    z-index: 1;
    height:150px;
    width:150px;
}
.forme5 {

    background-color: rgb(10, 209, 216);
    display:flex;
    z-index: 1;
    height:100px;
    width:100px;
    border-radius: 50px;
}
.forme6 {

    clip-path: inset(21% 20% 31% 15%);
    background-color: rgb(2, 2, 0);
    z-index: 1;
    height:150px;
    width:150px;
}
.forme7 {

    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
    background-color: rgb(196, 94, 11);
    display:flex;
    z-index: 1;
    height:150px;
    width:150px;
}
.forme8 {

    clip-path: polygon(50% 0%, 0% 100%, 100% 49%);
    background-color: rgb(11, 196, 88);
    display:flex;
    z-index: 1;
    height:150px;
    width:150px;
}
.forme9 {

    clip-path: inset(21% 20% 31% 10%);
    background-color: rgb(216, 213, 10);
    z-index: 1;
    height:150px;
    width:150px;
}
.forme10 {

    clip-path: ellipse(25% 40% at 50% 50%);
    background-color: rgb(238, 54, 8);
    display:flex;
    z-index: 1;
    height:150px;
    width:150px;
}
.forme11 {

    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    background-color: rgb(197, 233, 235);
    display:flex;
    z-index: 1;
    height:150px;
    width:150px;

}

/* --------------HOMEPAGE---------------------- */

/* Titre */

header {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top:20px;
    margin-bottom:20px;
}
h1 {
    font-size: var(--titre1);
    color: var(--couleur-titre);
}
h2 {
    font-size: var(--titre2);
    color:var(--couleur-titre);
}
h3 {
    font-size: var(--titre3);
    color:var(--couleur-titre);
}
h4 {
    font-size: var(--texte2);
    color:var(--couleur-texte2);
    font-weight: bold;
    display: inline-block;
}

.tableaux {
    display:inline;
}
/* Partie main  */
.main {
    max-width: 100%;
    margin-top: 50px;
    margin-bottom: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.game {
    padding: 10px;
    font-size: var(--texte2);
    text-align: center;
    color: var(--couleur-texte2);
    border: solid 10px #4450f7;
    border-radius: 50%;
    height: 240px; 
	width: 240px; 
    background-color: #161D8A;
}
.rules {
    display:block;
    padding: 10px;
    margin-bottom:10px;
    font-size: var(--texte);
    text-align: center;
    color: var(--couleur-texte2);
}
blockquote {
    font-style: italic;
    text-align:center;
}
/* Liens */
 nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--couleur-nav); 
    align-items: center;
    font-size: 12px;
}
nav a:focus, a:hover {
    font-size: 14px;
    font-weight: bold;
    color:var(--couleur-nav);
}
a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--couleur-titre);
    font-size: 15px;
}
 .navigateur {
   z-index: 1;  
   padding-bottom:10px;
   position: fixed;
 }
li {
    margin-right:10px;
    padding-right:1px;
}
/* -------------- PAGES JEU --------------- */

 .introjeu {
    font-size: var(--texte2);
    text-align: left;
    color: var(--couleur-texte2);
}
 /* Version du jeu active */
 .versionactive {
    text-transform: uppercase;
    color: var(--couleur-texte1); 
    font-size: 15px;
}
 .versioninactive {
     color:white;
}
/* Formulaire */

form {
    display: flex;
    color:white;
    ;
}
.words {
    background-color: var(--couleur-nav);
    color : var(--couleur-texte1);
    font-weight: lighter;
    border:none;
    border-bottom : solid 1px #4cced3;
    padding:2px;
    margin:2px;
}
.wordstroll {
    background-color:fuchsia;
    color : white;
    font-weight: bolder;
    border:none;
    border-bottom : solid 1px #f7f8f8;
    padding:2px;
    margin:2px;
}
.button { 
    background-color: var(--couleur-nav);
    color : var(--couleur-texte1);
    font-weight: bold;
    padding: 5px;
    margin-top:5px;
    border:none;
}
.buttontroll {
    background-color:fuchsia;
    color : white;
    font-weight: bold;
    padding: 5px;
    margin-top:5px;
    cursor:pointer;
    border:solid 4px white;
}
/* Phrase exemple */

.exemple {
    font-size: 30px;
    text-align: center;
    font-weight: lighter;
    color: var(--couleur-texte1);
    margin-top:40px;
}
.exempletroll {
    font-size: 30px;
    text-align: center;
    font-weight: lighter;
    color: white;
    margin-top:40px;

}
/* Résultat */

.reponseex {
    margin-top:200px;
    margin-bottom:50px;
    font-size: 50px;
    text-align: center;
    color: var(--couleur-nav);
}
.reponse {
    margin-top:50px;
    margin-bottom:50px;
    color : var(--couleur-texte1);
    font-weight: lighter;
    border:none;
    border-bottom : solid 1px #4cced3;
    padding:10px;
    max-width: 100%;
    text-align: center;
}
.reponsetroll {
    margin-top:50px;
    margin-bottom:50px;
    color : white;
    font-weight: lighter;
    border:none;
    border-bottom : solid 1px #4cced3;
    padding:10px;
    max-width: 100%;
    text-align: center;

}
/* OPTION Interrupteur */

