/* Le root permet de définir des variables utilisables dans tout le css qui seront faciles à changer commce ceci par exemple : --couleur-texte: #022d46;  */
:root {
    --titre1: 50px;
    --titre2: 20px;
    --titre3: 30px;
    --texte: 15px;
    --texte2:18px;
    --couleur-texte1: #FFC300;
    --couleur-texte2: white;
    --couleur-titre: #F5C028;
    --couleur-nav: #065BA1;
} 
.deco1 {
    clip-path: polygon(100% 76%, 100% 100%, 0 100%);
    background-color : #B9CDFC;
    position:fixed;
    top:auto;
    width: 100%; 
    height:100%; 
    z-index: -1;
}
.deco2 {
    clip-path: polygon(100% 0, 0 35%, 0 0);
    background-color :#B6DAF8;
    position:fixed;
    top:0%;
    width: 100%; 
    height:100%; 
    z-index: -1;
}
.deco3 {
    clip-path: inset(48% 0 0 0);
    background-color : #B9CDFC;
    position:fixed;
    top:auto;
    width: 100%; 
    height:100%; 
    z-index: -3;
}
.deco4 {
    clip-path: polygon(0 100%, 35% 0 ,0 0 );
    background-color : #B9CDFC;
    position:fixed;
    top:auto;
    width: 100%; 
    height:100%; 
    z-index: -1;
}
.deco5 {
    clip-path: inset(75% 0 0 0);
    background-color : var(--couleur-texte1);
    position:fixed;
    top:auto;
    width: 100%; 
    height:100%; 
    z-index: -2;
}
.deco6 {
    clip-path: polygon(0 82%, 100% 63%, 100% 100%, 0% 100%);
    background-color : #B9CDFC;
    position:fixed;
    top:auto;
    width: 100%; 
    height:100%; 
    z-index: -1;
}
body {
    box-sizing: border-box;
    max-height: 100%;
    max-width: 100%;
    background-color:#065BA1;
    font-size: var(--texte);
    color: var(--couleur-texte);
    font-family: 'Titillium Web', sans-serif;
}
.trollmode  {
    box-sizing: border-box;
    max-height: 100%;
    max-width: 100%;
    background-color:fuchsia;
    font-size: var(--texte);
    color: white;
    font-family: 'Titillium Web', sans-serif;
}
/* Jeu enfant tableaux et formes */

.espacejeu {
    display:flex;
    justify-content: center;
}

.jeu {
    display:inline-block;
    margin:4px;
    font-size: var(--texte);
    text-align: center;
    background-color: #161D8A;    
    height: 500px; 
	width: 600px; 
    z-index: 0;
}

.espacejeu {
    display:flex;
    align-content: center;
    justify-content: center;
    height: 500px; 
	width: 600px; 
}
.tableau {
    display:inline-block;
    margin:4px;
    font-size: var(--texte);
    text-align: center;
    background-color:white;
    border:none;
    height: 500px; 
	width: 600px; 
    z-index: 0;
}

.tableau2 {
    display:inline-block;
    margin:4px;
    font-size: var(--texte);
    text-align: center;
    background-color:rgb(0, 247, 255);
    border:none;
    height: 500px; 
	width: 600px; 
    z-index: 0;
}
/* Positionner les formes colorées avec flexbox */

.forme1 {
    clip-path: polygon(7% 2%, 5% 82%, 73% 64%);
    display:flex;
    z-index: 1;
    height:130px;
    width:130px; 
    background: radial-gradient(#ce1543, #161D8A );
}
.forme2 {
    clip-path: polygon(50% 0%, 85% 47%, 53% 90%, 12% 44%);
    display:flex;
    z-index: 1;
    height:120px;
    width:120px;
    background: radial-gradient(#09db1b, #e77d04 );
}
.forme3 {
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    display:flex;
    z-index: 1;
    height:100px;
    width:100px;
    background: radial-gradient(#60068a, #c669e2 );
}
.forme4 {
    clip-path: polygon(25% 33%, 69% 34%, 80% 63%, 7% 85%);
    display:flex;
    z-index: 1;
    height:150px;
    width:150px;
    background: radial-gradient(#ec0e19, #6b5ba5 );
}
.forme5 {
    display:flex;
    z-index: 1;
    height:100px;
    width:100px;
    border-radius: 50px;
    background: radial-gradient(#02f0f8, #045c6b );
}
.forme6 {
    clip-path: inset(21% 20% 31% 15%);
    display:flex;
    z-index: 1;
    height:150px;
    width:150px;
    background: radial-gradient(#000505, #22012c );
}
.forme7 {
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
    display:flex;
    z-index: 1;
    height:150px;
    width:150px;
    background: radial-gradient(#e78607, #ce1d06 );
}
.forme8 {
    clip-path: polygon(50% 0%, 0% 100%, 100% 49%);
    display:flex;
    z-index: 1;
    height:150px;
    width:150px;
    background: radial-gradient(#20c043, #226146 );
}
.forme9 {
    clip-path: inset(21% 20% 31% 10%);
    display:flex;
    z-index: 1;
    height:150px;
    width:150px;
    background: radial-gradient(#e9da05, #ddb691 );
}
.forme10 {
    clip-path: ellipse(25% 40% at 50% 50%);
    display:flex;
    z-index: 1;
    height:150px;
    width:150px;
    background: radial-gradient(#f80202, #a17fd8 );
}
.forme11 {
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    display:flex;
    z-index: 1;
    height:150px;
    width:150px;
    background: radial-gradient(#02f0f8, #c669e2 );
}

/* --------------HOMEPAGE---------------------- */

/* Titre */

header {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top:20px;
    margin-bottom:20px;
}
h1 {
    font-size: var(--titre1);
    color: var(--couleur-titre);
}
h2 {
    font-size: var(--titre2);
    color:var(--couleur-titre);
}
h3 {
    font-size: var(--titre3);
    color:var(--couleur-titre);
}
h4 {
    font-size: var(--texte2);
    color:var(--couleur-texte2);
    font-weight: bold;
    display: inline-block;
}
h5 {
    font-size: var(--texte);
    color: var(--couleur-texte2);
    font-weight: bolder;
}
.tableaux {
    display:inline;
    color: var(--couleur-texte1);
}
/* Partie main  */
.main {
    max-width: 100%;
    margin-top: 50px;
    margin-bottom: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.game {
    padding: 10px;
    font-size: var(--texte2);
    text-align: center;
    color: var(--couleur-texte2);
    border: solid 10px #4450f7;
    border-radius: 50%;
    height: 240px; 
	width: 240px; 
    background-color: #161D8A;
}
.rules {
    display:block;
    padding: 10px;
    margin-bottom:10px;
    font-size: var(--texte);
    text-align: center;
    color: var(--couleur-texte2);
}
blockquote {
    font-style: italic;
    text-align:center;
}
/* Liens */

nav {
    position:fixed;
    z-index:3;
}
 nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--couleur-nav); 
    align-items: center;
    font-size: 12px;
}
nav a:focus, a:hover {
    font-size: 14px;
    font-weight: bold;
    color:var(--couleur-nav);
    border:none;
}
a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--couleur-titre);
    font-size: 15px;
}
li {
    margin-right:10px;
    padding-right:1px;
}
/* -------------- PAGES JEU --------------- */

 .introjeu {
    font-size: var(--texte2);
    text-align: left;
    color: var(--couleur-texte2);
}
 /* Version du jeu active */
 .versionactive {
    text-transform: uppercase;
    color: var(--couleur-texte1); 
    font-size: 15px;
}
 .versioninactive {
     color:white;
}
.troll {
    background-color: var(--couleur-nav);
    color : var(--couleur-nav);
    padding: 5px;
    margin-top:5px;
    border:none;
}
/* Formulaire */
form {
    display: flex;
    color:white;
    ;
}
.words {
    background-color: var(--couleur-nav);
    color : var(--couleur-texte1);
    font-weight: lighter;
    border:none;
    border-bottom : solid 1px #4cced3;
    padding:2px;
    margin:2px;
}
.wordstroll {
    background-color:fuchsia;
    color : white;
    font-weight: bolder;
    border:none;
    border-bottom : solid 1px #f7f8f8;
    padding:2px;
    margin:2px;
}
.button { 
    background-color: var(--couleur-nav);
    color : var(--couleur-texte1);
    font-weight: bold;
    padding: 5px;
    margin-top:5px;
    border:none;
}
.button2 { 
    background-color: var(--couleur-nav);
    color : var(--couleur-texte1);
    font-weight:bold;
    justify-content:center;
    padding: 5px;
    margin-top:5px;
    border:none;
    display:flex;
    z-index: 2;
    height:50px;
    width:50px;
    border-radius: 25px;
}
.button3{
    background-color: rgb(60, 60, 138);
    display:flex;
    z-index: 1;
    height:200px;
    width:200px;
    border-radius: 100px;
}
.button4{
    background-color: rgb(24, 172, 4);
    display:flex;
    z-index: 0;
    height:100px;
    width:100px;
    border-radius: 50px;
}
.button5{
    background-color: rgb(240, 236, 16);
    display:flex;
    z-index: 0;
    height:150px;
    width:150px;
    border-radius: 75px;
}
.button6{
    background-color: rgb(218, 11, 45);
    display:flex;
    z-index: 0;
    height:100px;
    width:100px;
    border-radius: 50px;
}
.button7{
    background-color: rgb(202, 6, 192);
    display:flex;
    z-index: 0;
    height:150px;
    width:150px;
    border-radius: 75px;
}
.buttontroll {
    background-color:fuchsia;
    color : white;
    font-weight: bold;
    padding: 5px;
    margin-top:5px;
    cursor:pointer;
    border:solid 4px white;
}
/* Phrase exemple */
.exemple {
    font-size: 30px;
    text-align: center;
    font-weight: lighter;
    color: var(--couleur-texte1);
    margin-top:40px;
}
.exempletroll {
    font-size: 30px;
    text-align: center;
    font-weight: lighter;
    color: white;
    margin-top:40px;
}
/* Résultat */
.reponseex {
    margin-top:30px;
    font-size: 50px;
    text-align: center;
    color: var(--couleur-nav);    
    font-weight: lighter;
}
.reponse {
    margin-top:50px;
    margin-bottom:100px;
    color : var(--couleur-texte1);
    font-size: 50px;
    font-weight: bolder;
    border:none;
    border-bottom : solid 1px #4cced3;
    padding:10px;
    text-align: center;
    position: auto;
}
.reponsetroll {
    margin-top:50px;
    margin-bottom:50px;
    color : white;
    font-weight: lighter;
    border:none;
    border-bottom : solid 1px #4cced3;
    padding:10px;
    max-width: 100%;
    text-align: center;
}

